[submodule "User_Authentication_Microservice"]
	path = User_Authentication_Microservice
	url = https://github.com/looking-sharp/User_Authentication_Microservice
	branch = main
[submodule "Email_Microservice"]
	path = Email_Microservice
	url = https://github.com/looking-sharp/Email_Microservice
	branch = main
[submodule "Event_Check_In_Microservice"]
	path = Event_Check_In_Microservice
	url = https://github.com/looking-sharp/Event_Check_In_Microservice
	branch = main
[submodule "Media_Management_Microservice"]
	path = Media_Management_Microservice
	url = https://github.com/looking-sharp/Media_Management_Microservice
	branch = main
[submodule "Review-And-Feedback-Microservice"]
	path = Review-And-Feedback-Microservice
	url = https://github.com/looking-sharp/Review-And-Feedback-Microservice.git
	branch = main
