<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/checkIn.css') }}">
  <link rel="manifest" href="{{ url_for('static',filename='favicon_io/site.webmanifest')}}">
  <title>Check In</title>
</head>

<header>
  <h1>Create Check in Form</h1>
</header>
<body class="fixed-body">
    <main>
    <form id="previewForm">
        <h2>Form Preview</h2>
    </form>
    <div id="builder" style="display: none;">
        <h2>Add Field</h2>

        <label>Label:</label>
        <input id="labelInput" type="text">

        <label>Field Name (snake_case):</label>
        <input id="nameInput" type="text">
        
        <div class="side-by-side-div">
            <label>Field Type:</label>
            <select id="typeInput">
            </select>
        </div>

        <div class="side-by-side-div">
            <label>Required:</label>
            <input id="requiredInput" type="checkbox">
        </div>

        <div id="multiVariedContainer" class="side-by-side-div">
            <label>Is MultiVaried:</label>
            <input id="multiVaried" type="checkbox">
        </div>

        <div id="optionsContainer" style="display:none;">
            <label>Options (comma separated):</label>
            <input id="optionsInput" type="text">
        </div>

        <button id="addFieldBtn">Add Field</button>
    </div>

    <div style="width: 600px; display: flex; margin: auto;">
        <button id="showBuilder" style="margin-right: 10px;">Add Field</button>
        <form id="submitForm" style="width:fit-content; margin-left: 0;" action="/create-check-in-form/{{ event_id }}", method="POST">
            <button id="submitBtn">Submit Form</button>
            <input type="hidden" id="fieldsOutput" name="fieldsOutput">
        </form>
    </div>
    <footer>
        Website by Thomas Sharp
    </footer>
    <script src="{{ url_for('static',filename='scripts/createForm.js') }}"></script>
</body>
</html>