<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/result.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicon_io/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon_io/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon_io/favicon-16x16.png')}}">
  <link rel="manifest" href="{{ url_for('static',filename='favicon_io/site.webmanifest')}}">
</head>
<header>
  <h1>{{Header}}</h1>
  {% if user_id != -1 %}
  <nav class="navlinks">
    <a href="/userHome/{{ user_id }}">Dashboard</a>
    <a href='/signout'>Sign Out</a>
  </nav>
  {% endif %}
</header>
  <div class=".fixed" style="display: grid; margin: auto;">
    <h1>Response: 
        <span class="
            {% if 200 <= Status < 300 %} status-ok
            {% elif 300 <= Status < 400 %} status-redirect
            {% elif 400 <= Status < 500 %} status-client-error
            {% elif 500 <= Status < 600 %} status-server-error
            {% else %} status-unknown
            {% endif %}
        ">{{ Status }}</span>
    </h1>
    <p>Message: {{Details}}</p>
  </div>
  <footer>
    Website by Thomas Sharp
  </footer>
</body>
</html>