<table cellpadding="0" style="border-collapse: collapse; font-size: 13.4px; background-color: rgb(59, 84, 57);">
   <tr>
      <td style="margin: 0.1px; padding: 20px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(0, 0, 1);">
         <table cellpadding="0" style="border-collapse: collapse;">
            <tr>
               <td style="margin: 0.1px; position: relative; padding-right: 10px; cursor: pointer;" valign="top">
                  <img src="https://i.ibb.co/DDfsbHJf/Event-Tracker-Logo.png" width="144" style="display: block; min-width: 144px;" alt="Event Tracker Logo"><!---->
               </td>
               <td style="position: relative; margin: 0.1px; padding: 0px 10px 0px 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(0, 0, 1);" valign="top">
                  <!---->
                  <table cellpadding="0" style="border-collapse: collapse;">
                     <tr>
                        <td style="position: relative; padding-bottom: 10px;">
                           <!---->
                           <table cellpadding="0" style="border-collapse: collapse; position: relative;">
                              <tr>
                                 <td style="margin: 0.1px; padding: 0px 0px 5px; font: 17.5px / 22.2px Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); cursor: pointer;">
                                    <span style="font-weight: 600; color: rgb(255, 255, 255); font-style: normal; text-transform: none; cursor: pointer;">Event Tracker</span><!----><!---->
                                 </td>
                              </tr>
                              <tr>
                                 <td style="margin: 0.1px; padding: 5px 0px 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; border-top: 1px solid rgb(255, 255, 255);">
                                    <!----><!----><span style="color: rgb(255, 255, 255); font-weight: 400; font-style: normal; text-transform: none; cursor: pointer;">The easy to use platform for your event tracking needs</span><!----><!---->
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="position: relative; padding-bottom: 10px;">
                           <!---->
                           <table cellpadding="0" style="border-collapse: collapse; position: relative;">
                              <tr style="cursor: pointer;">
                                 <td style="margin: 0.1px; padding: 5px 0px 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(255, 255, 255);">
                                    <span style="color: rgb(255, 255, 255); font-weight: 600; font-style: normal; text-transform: none;">Email&nbsp;</span><a href="mailto:noreply.eventtracker@gmail.com" style="color: rgb(255, 255, 255); text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-style: normal; text-transform: none;" target="_blank">noreply.eventtracker@gmail.com</a><!----><!----><a href="tel:" style="color: rgb(255, 255, 255); text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-style: normal; text-transform: none;" target="_blank"></a>
                                 </td>
                              </tr>
                              <tr style="cursor: pointer;">
                                 <td style="margin: 0.1px; padding: 5px 0px 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(255, 255, 255);">
                                    <span style="color: rgb(255, 255, 255); font-weight: 600; font-style: normal; text-transform: none;">Website&nbsp;</span><a href=# style="color: rgb(255, 255, 255); text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-style: normal; text-transform: none;" target="_blank">127.0.0.1:5000</a><!----><!---->
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td style="position: relative;">
                           <!---->
                           <table cellpadding="0" style="border-collapse: collapse; position: relative;">
                              <!---->
                              <tr>
                                 <td style="margin: 0.1px; padding: 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(0, 0, 1);">
                                    <table cellpadding="0" style="border-collapse: collapse;">
                                       <tr>
                                          <td style="margin: 0.1px; padding: 0px 5px 0px 0px; font: 13.4px / 17.1px Arial, Helvetica, sans-serif; color: rgb(0, 0, 1); cursor: pointer;">
                                             <a href="https://github.com/looking-sharp/Event-Tracker" style="border-radius: 0%; width: 25px; height: 25px; display: block; text-align: center; background-color: rgb(255, 255, 254); font-size: 12px; font-family: initial; line-height: 1;" target="_blank">
                                                <img src="https://img.icons8.com/ios11/512/000000/github.png" style="position: relative; top: 0px; width: 25px;">
                                                <!--
                                                <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" style="position: relative; top: 5px; width: 15px;">
                                                   <path d="M365.714 327.385h202.407v104.748h2.894c28.16-50.993 97.095-104.748 199.819-104.748 213.653 0 253.166 134.28 253.166 308.924v355.692h-210.983v-315.321c0-75.212-1.525-171.953-109.746-171.953-109.883 0-126.651 81.907-126.651 166.491v320.783h-210.905v-664.615zM0 327.385h219.429v664.615h-219.429v-664.615zM219.429 142.769c0 61.176-49.121 110.769-109.714 110.769s-109.714-49.593-109.714-110.769c0-61.176 49.121-110.769 109.714-110.769s109.714 49.593 109.714 110.769z" fill="#3C3C3C"></path>
                                                </svg>
                                                -->
                                             </a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <!---->
</table>