
.homepage-links {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 50px 0;
}

.homepage-links form button {
  display: block;
  margin: auto;
  float: none;
}

.homepage-links form:nth-child(even) {
  margin-top: 10px;
}

.homepage-links form:nth-child(odd) {
  margin-bottom: 10px;
}

#mainPage-info p {
  text-align: center;
}

#mainPage-info b {
  font-size: x-large;
}

#mainPage-info ul {
  display: table;
  margin:auto;
}

.drop-button {
  font-size: large;
}

.reviews {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.reviews h1 {
  grid-column: span 2;
}

.review {
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
}

.stars {
  font-size: x-large;
  color: gold;
}