
.homepage-links {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 50px 0;
}

.homepage-links form button {
  display: block;
  margin: auto;
  float: none;
}

.homepage-links form:nth-child(even) {
  margin-top: 10px;
}

.homepage-links form:nth-child(odd) {
  margin-bottom: 10px;
}

#mainPage-info p {
  text-align: center;
}

#mainPage-info b {
  font-size: x-large;
}

#mainPage-info ul {
  display: table;
  margin:auto;
}

.drop-button {
  font-size: large;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.review {
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888;
}

.review p {
  margin: 0;
}

.review .comment {
  margin-top: 10px;
  margin-bottom: 10px;
}

.review span {
  font-size: large;
}

.stars.active {
  font-size: x-large;
  color: #ffc700;
}

.stars.non-active {
  font-size: x-large;
  color: #ccc;
}

.review-btns {
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: end;
}

.review-btns button {
  margin: 0;
  font-size: medium;
  padding: 10px 0;
}

.review-btns form {
  width: auto;
}

.rate {
  width: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: auto;
  direction: rtl;
  justify-content: space-between;
}

.rate:not(:checked) > input {
  top:-9999px;
  position:absolute;
}

.rate:not(:checked) > label {
  width:1em;
  float:right;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:50px;
  color:#ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate label {
  padding: 0;
}

.pages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 2;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.pages span {
  font-size: large;
  font-weight: bold;
  cursor: default;
}

.pages .arrow {
  font-size: x-large;
  margin: 0;
  padding: 0 5px;
  cursor: pointer;
}