<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='favicon_io/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon_io/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon_io/favicon-16x16.png')}}">
  <link rel="manifest" href="{{ url_for('static',filename='favicon_io/site.webmanifest')}}">
  <title>Login</title>
</head>
<header>
  <h1>Login</h1>
  <nav class="navlinks">
    <a href='/signUp'>Sign Up</a>
    <a href='/'>Home</a>
  </nav>
</header>
<body class="fixed-body">
  <form method="POST">
    <input type="text" name="username" placeholder="Username">
    <div class="icons">
      <svg class="fa-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"></svg>
    </div>
    <input type="password" class="pass" name="password" placeholder="Password">
    {% if login_failed %}
      <span id="login_failed_error">Username or Password was incorrect<br></span>
    {% endif %}
    <button type="submit">Log in</button>
  </form>
  <footer>
    Website by Thomas Sharp
  </footer>
  <script src="{{ url_for('static',filename='scripts/form.js') }}"></script>
</body>
</html>