
.homepage-links {
  display: contents;
  gap: 20px;
  flex-direction: column;
}

.homepage-links form button {
  display: block;
  margin: auto;
  float: none;
}

.homepage-links form:nth-child(even) {
  margin-top: 10px;
}

.homepage-links form:nth-child(odd) {
  margin-bottom: 10px;
}

#mainPage-info p {
    text-align: center;
}

#mainPage-info b {
    font-size: x-large;
}

#mainPage-info ul {
    display: table;
    margin:auto;
}

.drop-button {
    font-size: large;
}